/*Metodología aplicada: BEM*/
/*GENERAL: bloques que se repiten en todos los html*/
.navbar--verde {
    background-color: rgb(197, 243, 144);
}

/*anchor*/
.boton-arriba {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* texto justificado, clase utilitaria de BEM*/
.u-texto-justificado {
    text-align: justify;
}

/*INTERFAZ PRINCIPAL*/

.tarjeta {
    padding: 0.5% 0.2% 0.5% 0.2%;
}

.tarjeta__imagen {
    width: 200px;
    height: 150px;
    object-fit: contain;
    background-color: white;
    display: block;
}

@media (max-width: 768px) {
    .tarjeta__imagen {
        width: 300px;
        height: 200px;
    }
}

/*PAGES PRODUCTOS*/
/*zoom imagen 10%*/
.producto__imagen {
    transition: transform 0.3s ease;
    max-height: 500px;
    object-fit: contain;
}

.producto__imagen:hover {
    transform: scale(1.2);
    cursor: zoom-in;
}

